.ui-datatable-header{
    background: orchid;
}

.ui-datatable, ui-widget{
    background: orchid;
}

.ui-datatable thead th {
    background-image: none !important;
    background-color: #ece3a5 !important;
    
}

.ui-fieldset-legend{
background-color: #ece3a5 !important;

}

.ui-button{
    background-color: #ece3a5 !important;
    font-size: large!important;
}