.ui-panel-images {
    width: 100%!important;
    height: 100%!important;
}

.ui-galleria-panel {
    width: 100%!important;
    height: 100%!important;
}

.ui-menubar{
    color: #D20005!important;
}

.ui-widget-content, .ui-datatble-even{
    background: #D20005;
    color:  #000000
}
